{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-var": "error",
        "no-console": "error",
        "no-extra-semi": "error",
        "quotes": [2, "double"],
        "no-mixed-spaces-and-tabs": "error",
        "no-empty": "error",
        "global-require": "error",
        "strict": ["error", "global"],
        "curly": "warn",
        "consistent-return": "error"
    }
}