.container {
    background: $light-grey;
    border: 1px dashed $grey;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 2rem;
}

.container-header {
    padding: 1rem;
    label {
        cursor: pointer;
        font-size: 1rem;
    }
    >:last-child {
        display: flex;
        align-items: center;
    }
}

.container-message {
    color: $subtext-color;
    margin: 2rem auto;
    text-align: center;
}

.container-footer {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px dotted $grey;
}